FHIR_BASE_URL=http://35.185.175.68:8080/fhir
FHIR_TOKEN_URL=http://35.185.175.68:8060/realms/HAPI/protocol/openid-connect/token
FHIR_CLIENT_ID=hapi-admin
FHIR_CLIENT_SECRET=
FHIR_SCOPE=
NEXTAUTH_SECRET=replace-with-local-random-secret
NEXTAUTH_URL=http://127.0.0.1:3000
